<div class="container">
    <div id="login-box">
        <div class="logo">
            <img src="../img/logo.png" width="100" height="100" class="img img-responsive img-circle center-block" />
            <h1 class="logo-caption"><span class="tweak">L</span>ogin</h1>
        </div><!-- /.logo -->
        <div class="controls">
            <form action="/login" method="post">
                <input type="text" name="username" placeholder="Username" class="form-control" />
                <button type="submit" class="btn btn-default btn-block btn-custom">Login</button>
            </form>
        </div>
    </div>
</div>
<div id="particles-js"></div>

<!-- partial -->
<script src='bootstrap.min.css'></script>
<script src='jquery-1.11.1.min.js'></script>
<!-- <script src='js/jquery-3.2.1.min.js'></script> -->
<script src="script.js"></script>